.rodape{
    color: white;
}

.rodape_linha1{
    background-color: #272525;
    background-image: url(../img/rodape-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;


}

.rodape_linha2{
    background-color: #020202;
    text-align: center;
    padding: 15px;
}


.rodape_coluna{
    margin-top: 40px;
}

.rodape .logo1{
    margin-bottom: 20px;
}

.logo1 {
    list-style:none;
    font-size: 30px;
    color: white;
    cursor: default;
    text-decoration: none;

}

.rodape_titulo{
    border-bottom: 1px solid whitesmoke;
    padding: 0 10px 10px 10px;
    font-size: 18px;
}

.rodape_lista-links{
    padding: 0;
    list-style: none;

}

.rodape_lista-links-item{
    color: #fff;
    text-decoration: none;
    margin-bottom: 10px ;
    display: block;
}

.rodape_lista-links-item::before{
    content: '>';
    margin-right: 8px;
    color: $cor-principal;
}
